<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">ABS NFT Marketplace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Marketplace</a>
                </li>
                {% if user_address %}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">My Profile</a>
                </li>
                {% endif %}
            </ul>
            <div class="d-flex">
                {% if user_address %}
                <div class="text-light me-3 d-flex align-items-center">
                    <span class="wallet-address">{{ user_address|truncate(14, True) }}</span>
                </div>
                <button id="disconnect-btn" class="btn btn-outline-light">Disconnect</button>
                {% else %}
                <button id="connect-btn" class="btn btn-primary">Connect Wallet</button>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
